h1 {
  text-decoration: underline;
}

.game-board {
  /* background-image: 'url("Arcade - Pac-Man - General Sprites.png")'; */
  /*background-color: black;*/
  height: 248px;
  width: 226px;

}

.pac-man {
  position: relative;
}

.dots {
  position: relative;
}

.scoreboard {
  height: 20px;
  width: 60px;
  border: 1px solid black;
}