h1 {
  text-decoration: underline;
}

.game-board {
  display: grid;
  /*grid-template-columns: [first] 10px [line2] 30px [line3] 30px [line4]18px [line5] 30px [line6] 18px [line7] 30px [line8] 18px [line9] 30px [line10] 18px [line11] 30px [line12] 18px [line13] 30px [line14] 18px [line15] 30px [line16] 18px [line17] 32px [line18] 30px [line19] 10px;*/
  /*grid-template-rows: [first] 10px [line2] 30px [line3] 32px [line4] 30px [line5] 18px [line6] 30px [line7] 18px [line8] 30px [line9] 18px [line10] 30px [line11] 18px [line12] 30px [line13] 18px [line14] 30px [line15] 18px [line16] 30px [line17] 18px [line18] 30px [line19] 18px [line20] 30px [line21] 10px;*/
  grid-template-columns: repeat(28, 16px);
  grid-template-rows: repeat(30, 16px);

  background-image: url("Arcade - Pac-Man - General Sprites.png");
  height: 496px;
  width: 448px;
  border: 1px solid black;
}

.pac-man {
  position: relative;
  height: 16px;
  width: 16px;
  background-color: antiquewhite;
}

.dots {
  position: relative;
  height: 4px;
  width: 4px;
  background-image: url("Arcade - Pac-Man - General Sprites.png");
  background-position-x: -22px;
  background-position-y: 58px;
}

.scoreboard {
  height: 20px;
  width: 60px;
  border: 1px solid black;
}