h1 {
  text-decoration: underline;
}

.game-board {
  /*background-image: url("Arcade - Pac-Man - General Sprites.png");*/
  height: 496px;
  width: 450px;
  border: 1px solid black;
}

.pac-man {
  position: relative;
  height: 30px;
  width: 30px;
}

.dots {
  position: relative;
  height: 4px;
  width: 4px;
  background-image: url("Arcade - Pac-Man - General Sprites.png");
  background-position-x: -22px;
  background-position-y: 58px;
}

.scoreboard {
  height: 20px;
  width: 60px;
  border: 1px solid black;
}